# cache
__pycache__/
.pytest_cache/

# envs
env*/
.direnv/
simulation.env
.vscode/
*.*env
*.log
*_rules.yaml

# logs
net_viz-*.png
out.mp4
websocket_client.log
logs/
*.csv

#misc
.coverage
htmlcov/
foo_*.*
foo*/
run_*.sh
foo*.*

.DS_Store