# cache
__pycache__/
.pytest_cache/

# envs
env*/
.vscode/
*.env

# logs
expected_rewards/
expected_reward_*.csv
net_viz-*.png
out.mp4
websocket_client.log
logs/

#misc
.coverage
htmlcov/
foo*.*
foo*/
run_*.sh
.DS_Store
test_endurance_rules.json
