---
# =============================================================================
# 
# =============================================================================
environment: local

flags:
  node:
    apply_economic_model: 30s
    ticket_parameters: 1m

    outgoing_channels_balances: 30s

    rotate_subgraphs: 1m

    # through subgraph queries
    peers_rewards: 5m
    registered_nodes: 5m
    
    healthcheck: 15s
    retrieve_peers: 1m
    retrieve_channels: 2m
    retrieve_balances: 5m

    open_channels: 5m
    fund_channels: 5m
    close_old_channels: 5m
    close_pending_channels: 5m
    close_incoming_channels: Off

    get_total_channel_funds: 5m

    observe_message_queue: On
    maintain_sessions: 15s
  peer:
    message_relay_request: On
    
# =============================================================================
# 
# =============================================================================
economic_model:
  min_safe_allowance: "0 wxHOPR"

  legacy:
    proportion: 1.0
    apr: 0.000002

    coefficients:
      a: 1
      b: 1.4
      upperbound: "15 wxHOPR"
      lowerbound: "0.1 wxHOPR"
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "lowerbound <= x <= upperbound"
      gx:
        formula: "a * upperbound + (x - upperbound) ** (1 / b)"
        condition: "x > upperbound"

  sigmoid:
    proportion: 0
    max_apr: 0.0000001
    network_capacity: 100
    total_token_supply: "5000 wxHOPR"

    offset: 10
    buckets:
      economic_security:
        flatness: 1.65
        skewness: 1.50
        upperbound: 0.75
        offset: 0

      network_capacity:
        flatness: 10.0
        skewness: 2.75
        upperbound: 1.0
        offset: 0

# =============================================================================
# 
# =============================================================================
peer:
  minimum_delay_between_batches: 2s
  sleep_mean_time: 10s
  sleep_std_time: 2s
  excluded_peers: []

# =============================================================================
# 
# =============================================================================
channel:
  min_balance: "0.05 wxHOPR"
  funding_amount: "0.1 wxHOPR"
  max_age: 1d

# =============================================================================
#
# =============================================================================
sessions:
  green_destinations:
  - "0x7d1e530e9c82c21b75644a2c23402aa858ae4a69"
  - "0x1b482420afa04aec1ef0e4a00c18451e84466c75"
  - "0x05b17e37fd43c18741877fca80846ad8c84aa750"
  - "0xcc70a22331998454160472f097acb43ca9b1e646"
  - "0xe4bb1970e6c9e5689c5ef68ee2545b4366c49be4"
  - "0xf90c1eb2557a443c2b27d399afac075fa752cd92"
  blue_destinations: []
  session_retry_base_delay: 2s
  session_retry_max_delay: 60s
  message_worker_count: 10

# =============================================================================
#
# =============================================================================
blokli:
  url: ""
  token: ""
  
# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  user_id: 78696
  api_key: 
  
  rewards:
    query_id: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safes_balance:
    query_id: GmbJTpa1o4baeStDT48TfQu4ditJmQwwXYPG1DvEiufB
    slug: hopr-nodes-rotsee
...
