---
# =============================================================================
# 
# =============================================================================
environment: local

flags:
  node:
    apply_economic_model: 30
    ticket_parameters: 60

    outgoing_channels_balances: 30

    rotate_subgraphs: 60

    # through subgraph queries
    peers_rewards: 300
    registered_nodes: 300
    
    # through rpc calls
    allocations: 300
    eoa_balances: 300
    
    healthcheck: 15
    retrieve_peers: 60
    retrieve_channels: 120
    retrieve_balances: 300

    open_channels: 300
    fund_channels: 300
    close_old_channels: 300
    close_pending_channels: 300
    close_incoming_channels: Off

    get_total_channel_funds: 300

    observe_message_queue: On
  
  peer:
    message_relay_request: On
    
# =============================================================================
# 
# =============================================================================
economic_model:
  min_safe_allowance: "0 wxHOPR"
  nft_threshold: "0 wxHOPR"

  legacy:
    proportion: 1.0
    apr: 0.000002

    coefficients:
      a: 1
      b: 1.4
      upperbound: "15 wxHOPR"
      lowerbound: "0.1 wxHOPR"
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "lowerbound <= x <= upperbound"
      gx:
        formula: "a * upperbound + (x - upperbound) ** (1 / b)"
        condition: "x > upperbound"

  sigmoid:
    proportion: 0
    max_apr: 0.0000001
    network_capacity: 100
    total_token_supply: "5000 wxHOPR"

    offset: 10
    buckets:
      economic_security:
        flatness: 1.65
        skewness: 1.50
        upperbound: 0.75
        offset: 0

      network_capacity:
        flatness: 10.0
        skewness: 2.75
        upperbound: 1.0
        offset: 0

# =============================================================================
# 
# =============================================================================
peer:
  sleep_mean_time: 10
  sleep_std_time: 2

# =============================================================================
# 
# =============================================================================
channel:
  min_balance: "0.05 wxHOPR"
  funding_amount: "0.1 wxHOPR"
  max_age_seconds: 86400

# =============================================================================
# 
# =============================================================================
sessions:
  batch_size: 20
  green_destinations: []
  blue_destinations: []
  
# =============================================================================
# 
# =============================================================================
investors:
  schedule:
  addresses: []

# =============================================================================
# 
# =============================================================================
nft_holders:
  filepath: ".configs/nft_holders.txt"

# =============================================================================
# 
# =============================================================================
rpc:
  gnosis: https://gnosis-rpc.publicnode.com
  mainnet: https://ethereum-rpc.publicnode.com

# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  user_id: 78696
  api_key: 
  
  rewards:
    query_id: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safes_balance:
    query_id: GmbJTpa1o4baeStDT48TfQu4ditJmQwwXYPG1DvEiufB
    slug: hopr-nodes-rotsee
...