---
# =============================================================================
# 
# =============================================================================
environment: prod

flags:
  core: 
    applyEconomicModel: 30
    ticketParameters: 60

    connectedPeers: 30
    topology: 30

    rotateSubgraphs: 300
    openSessions: 60

    # through subgraph queries
    peersRewards: 300
    registeredNodes: 300

    # through rpc calls
    allocations: 300
    eoaBalances: 300
    
  node:
    healthcheck: 15
    retrievePeers: 60
    retrieveChannels: 120
    retrieveBalances: 300

    openChannels: 300
    fundChannels: 300
    closeOldChannels: 300
    closePendingChannels: 300
    closeIncomingChannels: Off

    getTotalChannelFunds: 300
    
    closeSessions: 30

    observeMessageQueue: On # should only be On / Off

  peer:
    messageRelayRequest: On # should only be On / Off

# =============================================================================
# 
# =============================================================================
economicModel:
  minSafeAllowance: -1
  NFTThreshold: 30000

  legacy:
    proportion: 1.0
    apr: 12.5

    coefficients:
      a: 1
      b: 1.4
      c: 75000
      l: 10000
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "l <= x <= c"
      gx:
        formula: "a * c + (x - c) ** (1 / b)"
        condition: "x > c"

  sigmoid:
    proportion: 0
    maxAPR: 15
    networkCapacity: 2000
    totalTokenSupply: 450000000

    offset: -0.9
    buckets:
      economicSecurity:
        flatness: 1.8
        skewness: 1.52
        upperbound: 0.4
        offset: 3.14

      networkCapacity:
        flatness: 2.97
        skewness: 0.72
        upperbound: 1.0
        offset: 4.08

# =============================================================================
# 
# =============================================================================
peer:
  minVersion: '2.2.1'
  initialSleep:
    mean: 30
    std: 2

  # Controls how many messages are batched at a time. Increasing this reduces
  # the queue size but also privacy as the load gets less spread over time. 
  # NOTE: Should be replaced by a dynamic approch, by setting the minimum delay
  # acceptable before increasing the batch size accordingly (auto-mode)
  messageMultiplier: 1

# =============================================================================
# 
# =============================================================================
channel:
  minBalance: 20
  fundingAmount: 30
  maxAgeSeconds: 172800
  
# =============================================================================
# 
# =============================================================================
sessions:
  packetSize: 462 # TODO 3.0: change to 762
  aggregatedPackets: 10
  batchSize: 5

# =============================================================================
# 
# =============================================================================
investors:
  schedule: "investor-node-remainder-2024-01"
  addresses:
    - "0xebad8a12451bd17f7708a325a150f06cb0ec6e7c"
    - "0x9263a4d34c3fe5a3e5a281c78f652ee84abc56ae"
    - "0x3228413375817f8201c78a61ee86c5b8689343bb"
    - "0x06c2c4db3776d500636de63e4f109386dcba6ae2"
    - "0xcf2878a10cca65e3ec3569e0d9634d431bcbef9e"
    - "0x329c54289ff5d6b7b7dae13592c6b1eda1543ed4"
    - "0xa96bc337f5966c8ecba27fc4d46c75712790997c"
    - "0xb11dd162fc6c31cb5560f2310de3283bb913b91e"

# =============================================================================
# 
# =============================================================================
nftHolders:
  filepath: ".configs/nft_holders.txt"

# =============================================================================
# 
# =============================================================================
rpc:
  gnosis: 
  mainnet: 

# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  userID: 78696

  rewards:
    queryID: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safesBalance:
    queryID: GP2abJCarirMJCanuk4SBmnadiobEWH9ME2MNRAHbBTp
    slug: hopr-nodes-dufour
...