---
# =============================================================================
# 
# =============================================================================
environment: staging

flags:
  node:
    apply_economic_model: 15
    ticket_parameters: 60

    outgoing_channels_balances: 30

    rotate_subgraphs: 300

    # through subgraph queries
    peers_rewards: 300
    registered_nodes: 300
    
    # through rpc calls
    allocations: 300
    eoa_balances: 300
    
    healthcheck: 15
    retrieve_peers: 60
    retrieve_channels: 120
    retrieve_balances: 300

    open_channels: 300
    fund_channels: 300
    close_old_channels: 300
    close_pending_channels: 300
    close_incoming_channels: Off

    get_total_channel_funds: 300

    observe_message_queue: On
    maintain_sessions: 15

  peer:
    message_relay_request: On
    
# =============================================================================
# 
# =============================================================================
economic_model:
  min_safe_allowance: "0 wxHOPR"
  nft_threshold: "0 wxHOPR"

  legacy:
    proportion: 1.0
    apr: 0.000001

    coefficients:
      a: 1
      b: 1.4
      upperbound: "15 wxHOPR"
      lowerbound: "0.1 wxHOPR"
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "lowerbound <= x <= upperbound"
      gx:
        formula: "a * upperbound + (x - upperbound) ** (1 / b)"
        condition: "x > upperbound"

  sigmoid:
    proportion: 0
    max_apr: 0.0000001
    network_capacity: 100
    total_token_supply: "5000 wxHOPR"

    offset: 10
    buckets:
      economic_security:
        flatness: 1.65
        skewness: 1.50
        upperbound: 0.75
        offset: 0

      network_capacity:
        flatness: 10.0
        skewness: 2.75
        upperbound: 1.0
        offset: 0

# =============================================================================
# 
# =============================================================================
peer:
  minimum_delay_between_batches: 30
  sleep_mean_time: 10
  sleep_std_time: 2

# =============================================================================
# 
# =============================================================================
channel:
  min_balance: "0.05 wxHOPR"
  funding_amount: "0.1 wxHOPR"
  max_age_seconds: 86400

# =============================================================================
# 
# =============================================================================
sessions:
  green_destinations:
  - "0xac3c2d1f751d9c763be29aabb20cf31295f3ea27"
  - "0x154a32241dacd34c55ca65c2dfdef173d6d9e7f3"
  - "0x7673daf47ae218d7d9b2fa0e8fc397c2a6940bc1"
  blue_destinations:
  - "0x2eb08c7d673c4b7e8c017471e8d4de996aa82e83"
  - "0x0d3832bf4e8dd5f0ccd996fa2a27e1f864fd91bc"
  - "0xe5ad48d9005f9529da75ded5d931c72bb14b0b19"


# =============================================================================
# 
# =============================================================================
investors:
  schedule: 
  addresses: []

# =============================================================================
# 
# =============================================================================
nft_holders:
  filepath: ".configs/nft_holders.txt"

# =============================================================================
# 
# =============================================================================
rpc:
  gnosis:   
  mainnet: 

# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  user_id: 78696
  api_key: 

  rewards:
    query_id: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safes_balance:
    query_id: GmbJTpa1o4baeStDT48TfQu4ditJmQwwXYPG1DvEiufB
    slug: hopr-nodes-rotsee
...