---
# =============================================================================
# 
# =============================================================================
environment: prod

flags:
  node:
    apply_economic_model: 30
    ticket_parameters: 60

    outgoing_channels_balances: 30

    rotate_subgraphs: 300

    # through subgraph queries
    peers_rewards: 300
    registered_nodes: 300

    # through rpc calls
    allocations: 300
    eoa_balances: 300
    
    healthcheck: 15
    retrieve_peers: 60
    retrieve_channels: 120
    retrieve_balances: 300

    open_channels: 300
    fund_channels: 300
    close_old_channels: 300
    close_pending_channels: 300
    close_incoming_channels: Off

    get_total_channel_funds: 300
    
    observe_message_queue: On

  peer:
    message_relay_request: On

# =============================================================================
# 
# =============================================================================
economic_model:
  min_safe_allowance: "0 wxHOPR"
  nft_threshold: "30000 wxHOPR"

  legacy:
    proportion: 1.0
    apr: 12.5

    coefficients:
      a: 1
      b: 1.4
      upperbound: "75000 wxHOPR"
      lowerbound: "10000 wxHOPR"
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "lowerbound <= x <= upperbound"
      gx:
        formula: "a * upperbound + (x - upperbound) ** (1 / b)"
        condition: "x > upperbound"

  sigmoid:
    proportion: 0
    max_apr: 15
    network_capacity: 2000
    total_token_supply: "450000000 wxHOPR"

    offset: -0.9
    buckets:
      economic_security:
        flatness: 1.8
        skewness: 1.52
        upperbound: 0.4
        offset: 3.14

      network_capacity:
        flatness: 2.97
        skewness: 0.72
        upperbound: 1.0
        offset: 4.08

# =============================================================================
# 
# =============================================================================
peer:
  minimum_delay_between_batches: 20
  sleep_mean_time: 30
  sleep_std_time: 2

# =============================================================================
# 
# =============================================================================
channel:
  min_balance: "20 wxHOPR"
  funding_amount: "30 wxHOPR"
  max_age_seconds: 172800

# =============================================================================
# 
# =============================================================================
sessions:
  green_destinations: 
  - "0xd30f8f6e5865d7ec947e101b1d6a183e9776ba40"
  - "0x5a5bf3d3ce59cd304f198b86c1a78adfadf31f83"
  - "0xa4642c066c1f8927db9d34abab599af784a2cff0"
  - "0xcbe8726c80cc0d7751b9545dd5a4b5b0e53e383d"
  - "0x764d3162a4024c5cba8817446ef563b27aa57598"
  blue_destinations: 
  - "0x5927c321ca2a925d17edcf9c58343e24337d18ba"
  - "0x0543aa9d1dafa9cc49bf87ce5ea1e18277b3ae0f"
  - "0x29d61ddbc682f272fc7f0dfb203938e211471826"
  - "0x8fd1766b4215944f2eb21f03e6820bc3c75d936c"
  - "0x633382b748e34432df1dbdfdd234833454b3d768"


# =============================================================================
# 
# =============================================================================
investors:
  schedule: "investor-node-remainder-2024-01"
  addresses:
    - "0xebad8a12451bd17f7708a325a150f06cb0ec6e7c"
    - "0x9263a4d34c3fe5a3e5a281c78f652ee84abc56ae"
    - "0x3228413375817f8201c78a61ee86c5b8689343bb"
    - "0x06c2c4db3776d500636de63e4f109386dcba6ae2"
    - "0xcf2878a10cca65e3ec3569e0d9634d431bcbef9e"
    - "0x329c54289ff5d6b7b7dae13592c6b1eda1543ed4"
    - "0xa96bc337f5966c8ecba27fc4d46c75712790997c"
    - "0xb11dd162fc6c31cb5560f2310de3283bb913b91e"

# =============================================================================
# 
# =============================================================================
nft_holders:
  filepath: ".configs/nft_holders.txt"

# =============================================================================
# 
# =============================================================================
rpc:
  gnosis: 
  mainnet: 

# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  user_id: 78696
  api_key: 

  rewards:
    query_id: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safes_balance:
    query_id: GP2abJCarirMJCanuk4SBmnadiobEWH9ME2MNRAHbBTp
    slug: hopr-nodes-dufour
...