---
# =============================================================================
# 
# =============================================================================
environment: prod

flags:
  node:
    apply_economic_model: 30s
    ticket_parameters: 1m

    outgoing_channels_balances: 30s

    rotate_subgraphs: 5m

    # through subgraph queries
    peers_rewards: 5m
    registered_nodes: 5m
    
    healthcheck: 15s
    retrieve_peers: 1m
    retrieve_channels: 2m
    retrieve_balances: 5m

    open_channels: 5m
    fund_channels: 5m
    close_old_channels: 5m
    close_pending_channels: 5m
    close_incoming_channels: Off

    get_total_channel_funds: 5m
    
    observe_message_queue: On
    maintain_sessions: 15s

  peer:
    message_relay_request: On

# =============================================================================
# 
# =============================================================================
economic_model:
  min_safe_allowance: "0 wxHOPR"

  legacy:
    proportion: 1.0
    apr: 12.5

    coefficients:
      a: 1
      b: 1.4
      upperbound: "75000 wxHOPR"
      lowerbound: "30000 wxHOPR"
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "lowerbound <= x <= upperbound"
      gx:
        formula: "a * upperbound + (x - upperbound) ** (1 / b)"
        condition: "x > upperbound"

  sigmoid:
    proportion: 0
    max_apr: 15
    network_capacity: 2000
    total_token_supply: "450000000 wxHOPR"

    offset: -0.9
    buckets:
      economic_security:
        flatness: 1.8
        skewness: 1.52
        upperbound: 0.4
        offset: 3.14

      network_capacity:
        flatness: 2.97
        skewness: 0.72
        upperbound: 1.0
        offset: 4.08

# =============================================================================
# 
# =============================================================================
peer:
  minimum_delay_between_batches: 60s
  sleep_mean_time: 30s
  sleep_std_time: 2s
  excluded_peers: []
  
# =============================================================================
# 
# =============================================================================
channel:
  min_balance: "20 wxHOPR"
  funding_amount: "30 wxHOPR"
  max_age: 2d

# =============================================================================
#
# =============================================================================
sessions:
  green_destinations:
  - "0xd30f8f6e5865d7ec947e101b1d6a183e9776ba40"
  - "0x5a5bf3d3ce59cd304f198b86c1a78adfadf31f83"
  - "0xa4642c066c1f8927db9d34abab599af784a2cff0"
  - "0xcbe8726c80cc0d7751b9545dd5a4b5b0e53e383d"
  - "0x764d3162a4024c5cba8817446ef563b27aa57598"
  blue_destinations:
  - "0x5927c321ca2a925d17edcf9c58343e24337d18ba"
  - "0x0543aa9d1dafa9cc49bf87ce5ea1e18277b3ae0f"
  - "0x29d61ddbc682f272fc7f0dfb203938e211471826"
  - "0x8fd1766b4215944f2eb21f03e6820bc3c75d936c"
  - "0x633382b748e34432df1dbdfdd234833454b3d768"
  session_retry_base_delay: 2s
  session_retry_max_delay: 60s
  message_worker_count: 10

# =============================================================================
#
# =============================================================================
blokli:
  url: ""
  token: ""

# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  user_id: 78696
  api_key: 

  rewards:
    query_id: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safes_balance:
    query_id: GP2abJCarirMJCanuk4SBmnadiobEWH9ME2MNRAHbBTp
    slug: hopr-nodes-dufour
...
