---
# =============================================================================
# 
# =============================================================================
environment: staging

flags:
  core: 
    applyEconomicModel: 30
    ticketParameters: 60

    connectedPeers: 30
    topology: 30

    openSessions: 60

    rotateSubgraphs: 300

    # through subgraph queries
    peersRewards: 300
    registeredNodes: 300

    # through rpc calls
    allocations: 300
    eoaBalances: 300
    
  node:
    healthcheck: 15
    retrievePeers: 60
    retrieveChannels: 120
    retrieveBalances: 300

    openChannels: 300
    fundChannels: 300
    closeOldChannels: 300
    closePendingChannels: 300
    closeIncomingChannels: Off

    getTotalChannelFunds: 300

    closeSessions: 30

    observeMessageQueue: On # should only be On / Off

  peer:
    messageRelayRequest: On # should only be On / Off
    
# =============================================================================
# 
# =============================================================================
economicModel:
  minSafeAllowance: -1
  NFTThreshold: ~

  legacy:
    proportion: 1.0
    apr: 0.000002

    coefficients:
      a: 1
      b: 1.4
      c: 15
      l: 0.1
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "l <= x <= c"
      gx:
        formula: "a * c + (x - c) ** (1 / b)"
        condition: "x > c"

  sigmoid:
    proportion: 0
    maxAPR: 0.0000001
    networkCapacity: 100
    totalTokenSupply: 5000

    offset: 10
    buckets:
      economicSecurity:
        flatness: 1.65
        skewness: 1.50
        upperbound: 0.75
        offset: 0

      networkCapacity:
        flatness: 10.0
        skewness: 2.75
        upperbound: 1.0
        offset: 0

# =============================================================================
# 
# =============================================================================
peer:
  minVersion: '2.1.5'
  initialSleep:
    mean: 10
    std: 2

  # Controls how many messages are batched at a time. Increasing this reduces
  # the queue size but also privacy as the load gets less spread over time. 
  # NOTE: Should be replaced by a dynamic approch, by setting the minimum delay
  # acceptable before increasing the batch size accordingly (auto-mode)
  messageMultiplier: 1

# =============================================================================
# 
# =============================================================================
channel:
  minBalance: 0.05
  fundingAmount: 0.1
  maxAgeSeconds: 86400

# =============================================================================
# 
# =============================================================================
sessions:
  packetSize: 452 # TODO 3.0: change to 762
  aggregatedPackets: 3
  batchSize: 5

# =============================================================================
# 
# =============================================================================
investors:
  schedule: 
  addresses: []

# =============================================================================
# 
# =============================================================================
nftHolders:
  filepath: ".configs/nft_holders.txt"

# =============================================================================
# 
# =============================================================================
rpc:
  gnosis:   
  mainnet: 

# =============================================================================
# 
# =============================================================================
subgraph:
  type: auto # auto | default | backup
  userID: 78696

  rewards:
    queryID: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    slug: hopr-channels
  safesBalance:
    queryID: GmbJTpa1o4baeStDT48TfQu4ditJmQwwXYPG1DvEiufB
    slug: hopr-nodes-rotsee
...