---
# =============================================================================
# 
# =============================================================================
flags:
  core: 
    healthcheck: 10
    checkSubgraphURLs: 30
    getTicketPrice: 30
    aggregatePeers: 30
    getTopologyData: 30
    getSubgraphData: 30
    getRegisteredNodes: 30
    getNFTHolders: 30
    getPeersRewards: 30
    applyEconomicModel: 30
    distributeRewards: 1
    
  node:
    healthcheck: 10
    retrievePeers: 30
    retrieveIncomingChannels: 30
    retrieveOutgoingChannels: 30
    retrieveBalances: 30
    openChannels: 300
    closeOldChannels: ~
    closePendingChannels: ~
    fundChannels: 300
    closeIncomingChannels: ~
    getTotalChannelFunds: 300
    
# =============================================================================
# 
# =============================================================================
economicModel:
  minSafeAllowance: -1
  NFTThreshold: ~

  legacy:
    proportion: 0.9
    apr: 12.0

    coefficients:
      a: 1
      b: 2
      c: 3
      l: 0.000001
    
    equations: 
      fx: 
        formula: "a * x"
        condition: "l <= x <= c"
      gx:
        formula: "a * c + (x - c) ** (1 / b)"
        condition: "x > c"

  sigmoid:
    proportion: 0.1
    maxAPRPercentage: 15.0
    offset: 10
    networkCapacity: 50
    totalTokenSupply: 1000000000

    buckets:
      economicSecurity:
        flatness: 1.65
        skewness: 1.50
        upperbound: 0.5
      networkCapacity:
        flatness: 10.0
        skewness: 2.75
        upperbound: 1.0

  budget:
    period: 1200
    countsInPeriod: 1
    winningProbability: 1

# =============================================================================
# 
# =============================================================================
distribution:
  minEligiblePeers: 5
  messageDeliveryDelay: 5.0
  delayBetweenTwoMessages: 0.0001
  maxIterations: 2

# =============================================================================
# 
# =============================================================================
peer:
  minVersion: '2.0.7'

# =============================================================================
# 
# =============================================================================
channel:
  minBalance: 0.05
  fundingAmount: 0.2
  maxAgeSeconds: 86400

# =============================================================================
# 
# =============================================================================
subgraph:
  safesBalance:
    queryID: GmbJTpa1o4baeStDT48TfQu4ditJmQwwXYPG1DvEiufB
    URLBackup: https://api.studio.thegraph.com/query/78696/hopr-nodes-rotsee/version/latest

  staking:
    queryID: F1NZayy7TXRi2szAVXvMFfJuC9uSdNYLUPAb6p6BYRmZ
    URLBackup: https://api.studio.thegraph.com/query/78696/hopr-stake-all-seasons/version/latest

  rewards:
    queryID: GoJ4KRuYEcELQk42hir2tjau6r1u4ibDFY6t1zH6zpKk
    URLBackup: https://api.studio.thegraph.com/query/78696/hopr-channels/version/latest
...