[project]
name = "ct-app"
version = "3.10.1"
requires-python = ">=3.12"
dependencies = ["core"]

[tool.uv.sources]
core = { workspace = true }
test = { workspace = true }

[tool.uv.workspace]
members = [
    "core", 
    "core/api",
    "core/components",
    "core/economic_model",
    "core/subgraph",
    "core/rpc",
    "test" 
]

[dependency-groups]
dev = [
    "ruff>=0.11.4",
    "dotenv>=0.9.9",
    "test",
]
lint = [
    "black==25.1.0",
]

[tool.black]
line-length = 100
target-version = ['py312']
include = '\.pyi?$'

[tool.uv]
default-groups = "all"

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "module"
minversion = "7.0"
asyncio_mode = "auto"
addopts = ["-ra", "-q"]
log_cli_level = "INFO"
log_cli = true
