git+https://github.com/hoprnet/hoprd-sdk-python.git@main
aiohttp==3.8.4
jsonschema==4.17.3
numpy==1.25.0
pytest==7.1.3
pytest-mock==3.10.0
pytest-asyncio==0.21.0
Requests==2.31.0
sanic==23.3.0
validators==0.20.0
sanic_testing==23.3.0
celery==5.2.2
prometheus_client==0.17.1
sqlalchemy==2.0.20
psycopg2==2.9.7
google-cloud-storage==2.10.0
pyyaml==6.0.1
# sanic[test]==23.3.0
