name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}-build
  cancel-in-progress: true

jobs:
  checks:
    name: Lint and Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@ausias/setup-version
        with:
          cache: ct-dapp
      - name: Lint
        working-directory: ct-app
        run: |
          nix develop -c make fmt
      - name: Test
        working-directory: ct-app
        run: |
          nix develop -c make test
      - name: Test Stress
        working-directory: ct-app
        run: |
          nix develop -c make stress
  build-docker:
    name: Build
    uses: ./.github/workflows/build-docker.yaml
    needs: checks
    with:
      source_branch: ${{ github.event.pull_request.head.ref }}
      version_type: "commit"
    secrets: inherit

