name: Build Docker
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      version_type:
        required: true
        type: string
concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}-${{ inputs.branch }}-build-docker
  cancel-in-progress: true

jobs:
  build:
    name: Docker
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.branch }}
      - name: Get PR labels
        id: pr-labels
        uses: joerick/pr-labels-action@0543b277721e852d821c6738d449f2f4dea03d5f # v1.0.9
      - name: Set environment variables
        id: tags
        shell: bash
        run: |
          base_version=$(grep -E '^version\s*=' ct-app/pyproject.toml | awk -F\" '{print $2}')
          if [[ "${{ inputs.version_type }}" == "commit" ]]; then
            main_docker_tag=${base_version}+commit.$(git rev-parse --short HEAD)
            echo "main_docker_tag=${main_docker_tag}" | tee -a $GITHUB_OUTPUT
          elif [[ "${{ inputs.version_type }}" == "pr" ]]; then
            main_docker_tag=${base_version}+pr.${{ github.event.pull_request.number }}
            echo "main_docker_tag=${main_docker_tag}" | tee -a $GITHUB_OUTPUT
          elif [[ "${{ inputs.version_type }}" == "release" ]]; then
            main_docker_tag=${base_version}
            echo "main_docker_tag=${main_docker_tag}" | tee -a $GITHUB_OUTPUT
          else
            echo "Invoked with unknown version_type (workflow dispatch), defaulting to commit-based versioning"
            exit 1
          fi
          sed -i.bak -E "s/(^version = \")([0-9]+\.[0-9]+\.[0-9]+)(\")/\1${main_docker_tag}\3/" ct-app/pyproject.toml
          main_docker_tag=${main_docker_tag//+/-}  # Docker tags cannot have '+', replace with '-'
          repository="europe-west3-docker.pkg.dev/hoprassociation/docker-images/cover-traffic"
          if [[ "${{ inputs.version_type }}" == "pr" ]]; then
            docker_tags="${repository}:${main_docker_tag},${repository}:latest"
          elif [[ "${{ inputs.version_type }}" == "commit" ]] && [[ "${GITHUB_PR_LABEL_DEPLOY_STAGING:-0}" == '1' ]]; then
            docker_tags="${repository}:${main_docker_tag},${repository}:staging"
          else
            docker_tags="${repository}:${main_docker_tag}"
          fi
          echo "docker_tags=${docker_tags}" | tee -a $GITHUB_OUTPUT
      - name: Setup GCP
        uses: hoprnet/hopr-workflows/actions/setup-gcp@master
        with:
          google-credentials: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
          login-artifact-registry: 'true'
          install-sdk: 'false'
      - name: Build docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: ct-app
          tags: ${{ steps.tags.outputs.docker_tags }}
      - name: Trigger deploy workflow if needed
        if: env.GITHUB_PR_LABEL_DEPLOY_STAGING == '1'
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        with:
          token: ${{ secrets.GH_RUNNER_TOKEN }}
          repository: hoprnet/gitops
          event-type: restart_deployment
          client-payload: |-
            {
              "environment": "staging",
              "namespace": "ctdapp",
              "label_selector": "hoprds.hoprnet.org/cluster=${{ vars.CTDAPP_STAGING_DEPLOYMENT_CLUSTER }}",
            }
