name: Build Docker
on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      version_type:
        required: true
        type: string
concurrency:
  group: ${{ github.event.pull_request.number || github.ref }}-${{ inputs.source_branch }}-build-docker
  cancel-in-progress: true

jobs:
  build:
    name: Docker
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.source_branch }}
      - name: Get PR labels
        id: pr-labels
        uses: joerick/pr-labels-action@0543b277721e852d821c6738d449f2f4dea03d5f # v1.0.9
      - name: Updates build version
        id: version
        uses: hoprnet/hopr-workflows/actions/set-build-version@build-version-v1
        with:
          file: ct-app/pyproject.toml
          version_type: "${{ inputs.version_type }}"
      - name: Set environment variables
        id: tags
        shell: bash
        run: |
          repository="europe-west3-docker.pkg.dev/hoprassociation/docker-images/cover-traffic"
          if [[ "${{ inputs.version_type }}" == "pr" ]]; then
            docker_tags="${repository}:${{ steps.version.outputs.docker_version }},${repository}:latest"
          elif [[ "${{ inputs.version_type }}" == "commit" ]] && [[ "${GITHUB_PR_LABEL_DEPLOY_STAGING:-0}" == '1' ]]; then
            docker_tags="${repository}:${{ steps.version.outputs.docker_version }},${repository}:staging"
          else
            docker_tags="${repository}:${{ steps.version.outputs.docker_version }}"
          fi
          echo "docker_tags=${docker_tags}" | tee -a $GITHUB_OUTPUT
      - name: Setup GCP
        uses: hoprnet/hopr-workflows/actions/setup-gcp@gcp-v1
        with:
          google_credentials: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
          login_artifact_registry: 'true'
          install_sdk: 'false'
      - name: Build docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: ct-app
          tags: ${{ steps.tags.outputs.docker_tags }}
      - name: Trigger deploy workflow if needed
        if: env.GITHUB_PR_LABEL_DEPLOY_STAGING == '1'
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        with:
          token: ${{ secrets.GH_RUNNER_TOKEN }}
          repository: hoprnet/gitops
          event-type: restart_deployment
          client-payload: |-
            {
              "environment": "staging",
              "namespace": "ctdapp",
              "label_selector": "hoprds.hoprnet.org/cluster=${{ vars.CTDAPP_STAGING_DEPLOYMENT_CLUSTER }}"
            }
