name: GCP Artifact Tagging

on:
  release:
    types:
      - published

jobs:
  tag-artifact:
    name: Tag GCP artifact
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2 - 2024-10-01

      - name: Set up Google Cloud Credentials
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0 - 2025-06-02
        with:
          token_format: "access_token"
          credentials_json: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@26f734c2779b00b7dda794207734c511110a4368 # v3.0.0 - 2025-01-10
        with:
          project_id: hoprassociation
          install_components: beta

      - name: Login Google Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0 - 2025-03-14
        with:
          registry: europe-west3-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Apply tag to GCP artifact
        run: |
          docker_registry=europe-west3-docker.pkg.dev
          image=hoprassociation/docker-images/cover-traffic
          commit_tag=$(git rev-parse --short "$GITHUB_SHA")
          tag=${{ github.ref_name }}

          echo "Tag from release: ${tag}"
          echo "Short sha: ${commit_tag}"

          gcloud artifacts docker tags add ${docker_registry}/${image}:${commit_tag} ${docker_registry}/${image}:${tag}