name: Main

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

concurrency:
  # find the branch name for 'pull_request' or on 'push' events
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Lint and test code
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2 - 2024-10-01

      - name: Install Nix
        uses: cachix/install-nix-action@17fe5fb4a23ad6cbbe47d6b3f359611ad276644c # v31.4.0 - 2025-05-27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Nix cache
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16 - 2025-01-15
        with:
          name: hoprnet
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Format, lint, and type check
        working-directory: ct-app
        run: nix develop -c make fmt

      - name: Test with pytest
        working-directory: ct-app
        run: nix develop -c make test

      - name: Run stress tests
        working-directory: ct-app
        run: nix develop -c make stress

  image:
    name: Build and push container image
    timeout-minutes: 10
    runs-on: ubuntu-latest

    needs:
      - test

    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2 - 2024-10-01

      - name: Calculate environment variables
        shell: sh
        run: |
          commit_hash="${{ github.event.pull_request.head.sha }}"
          if [ -z "${commit_hash}" ]; then
             echo "docker_tag=latest" >> $GITHUB_ENV
          else
             echo "docker_tag=`echo ${commit_hash} | cut -c1-7`" >> $GITHUB_ENV
          fi

      - name: Set up Google Cloud Credentials
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0 - 2025-06-02
        with:
          token_format: "access_token"
          credentials_json: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@26f734c2779b00b7dda794207734c511110a4368 # v3.0.0 - 2025-01-10
        with:
          project_id: hoprassociation
          install_components: beta

      - name: Login Google Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0 - 2025-03-14
        with:
          registry: europe-west3-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build container image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0 - 2025-04-22
        with:
          push: true
          context: ct-app
          tags: europe-west3-docker.pkg.dev/hoprassociation/docker-images/cover-traffic:${{ env.docker_tag }}
