name: Merge PR
on:
  pull_request:
    types:
      - closed
    branches:
      - main
concurrency:
  group: merge
  cancel-in-progress: false
jobs:
  build-docker:
    name: Build
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.event.pull_request.base.ref }}
      version_type: "pr"
    secrets: inherit
