name: Close release
on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Next version type"
        required: true
        type: choice
        default: "patch"
        options:
          - patch
          - minor
          - major
concurrency:
  group: release
  cancel-in-progress: false
jobs:
  build-docker:
    name: Build
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.ref_name }}
      version_type: "release"
    secrets: inherit
  release:
    name: Close release
    needs: build-docker
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Release version
        uses: hoprnet/hopr-workflows/actions/release-version@release-version-v1
        with:
          file: ct-app/pyproject.toml
          release_type: "${{ inputs.release_type }}"
          zulip_api_key: ${{ secrets.ZULIP_API_KEY }}
          zulip_email: ${{ secrets.ZULIP_EMAIL }}
          zulip_channel: "HOPRd"
          zulip_topic: "Releases"
